@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.App {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.save_button {
  outline: none;
  border: none;
  background-color: hsl(0, 0%, 80%);
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

.save_button:hover {
  background-color: hsl(0, 0%, 75%);
}